<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-5">
    <h2 class="mb-3">Book</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{series}">

                        <label for="title" class="col-form-label">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title">
                        <p><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span></p>

                        <label for="author" class="col-form-label">Author</label>
                        <select class="form-control" th:field="${book.author}" id="author" placeholder="Author">
                            <option value="0"></option>
                            <option th:each="author : ${authors}" th:value="${author.id}"
                                    th:text="${author.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <input type="submit" class="btn btn-primary" value="Save book">
                    </div>
                </div>
            </form>
            <div th:if="${book.id != null}">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <h4>Series</h4>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>In stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="series : ${book.series}">
                                <td>
                                    <a th:href="@{/books/__${book.id}__/series/__${series.id}__}"
                                       th:text="${series.name}"></a>
                                </td>
                                <td th:text="${series.inStock}?'yes':'no'"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="my-3"><a th:href="@{/books/{id}/series/add(id=${book.id})}" class="btn btn-primary">Add
                            series</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>