<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th th:text="#{msg.id}"/>
        <th th:text="#{msg.title}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, iStat : ${bookPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${book.id}"/>
        <td th:text="${book.title}"/>
    </tr>
    </tbody>
</table>
<div th:if="${bookPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/books(size=${bookPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</div>

<nav aria-label="Pagination" th:if="${bookPage.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${bookPage.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/books?page={id}(id=${bookPage.number lt 2 ? 1 : bookPage.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq bookPage.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( bookPage.number + 1, bookPage.totalPages > 10 + bookPage.number ? bookPage.number + 10 : bookPage.totalPages, 1)}">
            <a class="page-link" th:href="@{/books?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${bookPage.number + 10 < bookPage.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${bookPage.number + 1 eq bookPage.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/books?page={id}(id=${bookPage.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>