<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:switch="${readers}" class="container my-5">
    <div class="row justify-content-center font-weight-medium">
        <div class="col-md-6">
            <h2 th:case="null">No readers yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Readers</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reader : ${readers}">
                        <td>
                            <a th:href="@{/readers/__${reader.id}__/edit}" th:text="${reader.Name}"/></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/readers/add" class="btn btn-primary">Add reader</a></p>
        </div>
    </div>

    <nav aria-label="Pagination" th:if="${readers.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item" th:classappend="${readers.number eq 0} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/readers?page={id}(id=${readers.number lt 2 ? 1 : readers.number})}"
                   aria-label="Previous"
                   title="Previous Page" rel="tooltip">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq readers.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( readers.number + 1, readers.totalPages > 10 + readers.number ? readers.number + 10 : readers.totalPages, 1)}">
                <a class="page-link" th:href="@{/readers?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}"
                   rel="tooltip"></a>
            </li>
            <li class="page-item disabled" th:if="${readers.number + 10 < readers.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" width="20" height="20"></span>
                </a>
            </li>
            <li class="page-item" th:classappend="${readers.number + 1 eq readers.totalPages} ? 'disabled'">
                <a class="page-link svg-icon" th:href="@{/readers?page={id}(id=${readers.number + 2})}"
                   aria-label="Next"
                   title="Next Page" rel="tooltip">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>